<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reduction</title>
    </head>

    <body>
        <ul>
            <% urls.forEach(function(url) { %>                                  <!-- Display each url -->
                <li><%= url.short %> : <%= url.full %></li>
            <% }); %>
        </ul>
        <% urls %>

        <br>

        <%- test %>                                                             <!-- < % - : Get html code -->
    </body>
</html>
